networks:
  vlan_bridge_net:
    external: true

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: team-health-app
    expose:
      - 3000
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - vlan_bridge_net
